:root{
    --primario: #0A1828; /*#00ABE4; */
    --primarioOscuro: #E9F1FA;
    --Secundario: #178582;
    --Oscuro: #5e405b;
    --blanco: #ffff;
    --border: #e1e1e1;

    --FuentePrincipal: "Roboto", sans-serif;
}


/* GLOBALES */

html, body{
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
    font-family: var(--FuentePrincipal);
    font-size: 16px;
    color: var(--Oscuro);
    font-weight: bold;

}

p{
    font-weight: normal;
    padding: 0 2rem;
    text-align: center;
}


h4{
    display: flex;
}

li{
    margin: 1rem 0;
}


/* UTILIDADES */

.no-margin{
    margin: 0;
}

.text-aling{
    text-align: center;
}

.f-size{
    font-size: 1.3rem;
}

.form__fielset{
    border: none;
}

.no-border{
    border: none;
    box-shadow: none;
}

/* FORMULARIO */

.container{
    height: 50rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primarioOscuro);
    padding-top: 5rem;


    -webkit-box-shadow: 10px 10px 43px -1px rgba(255,255,255,0.1);
    -moz-box-shadow: 10px 10px 43px -1px rgba(255,255,255,0.1);
    box-shadow: 10px 10px 43px -1px rgba(255,255,255,0.1);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

}




@media (max-width: 480px) {
    .container{
        height: 55rem;
        width: 75%;
    }
} 

.logo{
    margin-top: -40rem;
    border: .5rem solid var(--primarioOscuro);
}



.container__presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container__title{
    padding-top: 1rem;
    font-size: 3rem;
    color: var(--Oscuro);
    text-transform: uppercase;
    text-align: center;
}


.logo{
    width: 10rem;
    border-radius: 50%;
}

.form__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primarioOscuro);
    padding: 2rem;
    width: 75%;
    margin: 2rem;

   
    -webkit-box-shadow: 10px 10px 43px -1px rgba(255,255,255,0.1);
    -moz-box-shadow: 10px 10px 43px -1px rgba(255,255,255,0.1);
    box-shadow: 10px 10px 43px -1px rgba(255,255,255,0.1);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;


}

@media (min-width: 768px) {
    .form{
        width: 60%;
    }
}


legend{
    margin: 2rem 0;
    font-size: 2rem;
}


label{
    font-size: 1.6rem;
    margin-bottom: .5rem;
    font-weight: normal;
}




.form__fielset__input{
    display: grid;
    margin-bottom: 2rem;
    

}

.form__fielset__input-checkbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 1rem;
}

/* @media (min-width: 768px) {
    .form__fielset__input-checkbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */

@media (min-width: 768px) {
    .form__fielset__input{
        grid-template-columns: 2fr 1fr;
        
   }
} 

.campo__label{
    padding-right: 2rem;
    margin: 0;
}


.campo__field{
    border: 1px solid var(--border);
    border-radius: .5rem;
    width: 100%;
}

.form__fielset__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}


input[type = 'submit']{
    border: 1px solid var(--border);
    margin-top: 1rem;
    cursor: pointer;
    background-color: var(--Secundario);
    padding: .75rem 0;
    color: var(--primarioOscuro);
    font-weight: bold;
    font-size: 1.2rem;
    width: 20rem;
    height: 4rem;

    text-transform: uppercase;
    transition: all 0.5s;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

}

input[type = 'submit']:hover{
    background-color: var(--primario);
    color: var(--primarioOscuro);
}

@media (min-width: 768px) { 
    input[type = 'submit']{
        width: 20rem;
        height: 4rem;

    }
}

/* RESULTADO */

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Secundario);
    color: var(--blanco);
    width: min(70%,50%);
    padding: 2rem;
    text-align: left;
    margin: 2rem 0;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
}

@media (max-width: 768px ) {
    li{
        font-size: 1.4rem;
    }

    .resultado{
        width: 75%;
    }
}

.flex{
    display: flex;
}

.grid, .grid2{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;

}

.grid2{
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

/* FOOTER */

.footer{
    color: var(--primarioOscuro);
    margin: 1rem 0;
}
